<!-- <div class="footer black-section">
    <div class="container footer-container-new">
        
        <div class="footer-top-new">

            <div class="footer-top-content">
                <div class="footer-top-content">
                    <div class="fade-in-on-scroll">
                        <h2 class="footer-partner-with-us-new">谢谢</h2>
                    </div>
                </div>
                <div style="margin-top: 20px;" class="fade-in-on-scroll">
                    <a href="t.me/leonidsupv" class="button white-button no-margin-top w-button">Связаться</a>
                </div>
            </div>
            <div class="fade-in-on-scroll">
                <div id="w-node-fbe81abf-e989-639e-41ff-fc88a277bf27-433b701f" class="links-footer">
                    <div class="footer-links-holder">
                        <a href="/work" class="footer-link w-inline-block">
                            <div>Портфолио</div>
                        </a>
                        <a href="/services" class="footer-link w-inline-block">
                            <div>Услуги</div>
                        </a>
                    </div>
                    <div id="w-node-fbe81abf-e989-639e-41ff-fc88a277bf38-433b701f" class="footer-links-holder">
                        <a href="/developers" class="footer-link w-inline-block">
                            <div>Разработчики</div>
                        </a>
                        <a href="/about" class="footer-link w-inline-block">
                            <div>О студии</div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div data-w-id="fbe81abf-e989-639e-41ff-fc88a277bf5a" class="copyright-holder">
            <div>
                © 2025 Ixora Studio · <a href="/legal" class="link link-grey">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</div> -->