<!-- <head>
    <script src="/src/js/header.js"></script>
</head>
<body>
    <div data-animation="over-right" data-collapse="none" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar white-bg-nav w-nav">
        <div class="nav-holder nav-holder-light">
            <div class="container nav-container">
                <a href="/" class="brand-link w-nav-brand">
                    <h2 style="color: #000;" class="footer-partner-with-us-new">Ix.s</h2>
                </a>
                <nav role="navigation" class="nav-menu nav-menu-on-white w-nav-menu">
                    <div class="nav-link-holder _1">
                        <a href="/work" aria-current="page" class="nav-link nav-link-on-white w-nav-link w--current">Портфолио</a>
                    </div>
                    <div class="nav-link-holder _2">
                        <a href="/services" class="nav-link nav-link-on-white w-nav-link">Услуги</a>
                    </div>
                    <div class="nav-link-holder _3">
                        <a href="/developers" class="nav-link nav-link-on-white w-nav-link">Разработчики</a>
                    </div>
                    <div class="nav-link-holder _3">
                        <a href="/about" class="nav-link nav-link-on-white w-nav-link">О студии</a>
                    </div>
                    <div class="nav-link-holder _5">
                        <a target="_blank" href="https:/t.me/leonidsupv" class="nav-button black w-nav-link">Связаться</a>
                    </div>
                    <div class="nav-menu-mobile-bg"></div>
                </nav>
                <div class="nav-menu-holder">
                    <div data-w-id="27d06f0f-6221-9bd9-d2e8-f427852dfef1" class="menu-button">
                        <img src="https://cdn.prod.website-files.com/64007488ac2f668174e03bc5/658417868965a43ad33c321a_menublack.svg" loading="lazy" alt="" class="menu-image"/>
                        <img src="https://cdn.prod.website-files.com/64007488ac2f668174e03bc5/649165532a0b32f53c6d9313_Union.svg" loading="lazy" alt="" class="x-icon"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body> -->